<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand logo-brand">
        <img class="game-logo" src="assets/images/logo.png">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="firebaseAuthService.authState" class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['league']">League</a>
            </li>
            <li *ngIf="firebaseAuthService.authState && !isGuest" class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['nextMatch']">My Next Match</a>
            </li>
            <li *ngIf="firebaseAuthService.authState" class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['games']">All Games</a>
            </li>
            <!-- <li *ngIf="firebaseAuthService.authState" class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['final']">Final 8</a>
            </li> -->
        </ul>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!firebaseAuthService.authState" class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['login']">Login</a>
            </li>
            <li *ngIf="firebaseAuthService.authState && isAdmin" class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['admin']">Admin</a>
            </li>
            <li *ngIf="firebaseAuthService.authState" class="nav-item" class="cursor-pointer">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>