.admin-page {
    width: 70%;
    margin: auto;
  
    .table-container {
      width: 300px;
    }
  
    .admin-label {
      width: 150px;
      display: inline-block;
    }
  
    .create-button {
      background-color: orange;
    }
  
  }
  
  
  
  