<div *ngIf="nextGame" class="next-game-header">Hi {{loggedInUser.nickname}}, your Next Game</div>
<div *ngIf="noMoreGames" class="next-game-header">You have no more games to play.<br>Wait until the league will end.</div>
<div *ngIf="nextGame">
    <div class="next-game-players">
        <player class="next-game-player next-game-left-player" name="{{nextGame.playerAfullName}}" picture="assets/images/playerLeft.jpg"></player>
        <img class="next-game-image" src="assets/images//pingpongTable.jpg"/>
        <player class="next-game-player next-game-right-player" name="{{nextGame.playerBfullName}}" picture="assets/images/playerRight.jpg"></player>
    </div>
    <div class="next-game-date">
        <label>Time frame for this match:</label>
        <span>{{nextGame.startDate | date}} - {{nextGame.endDate | date}}</span>
    </div>
</div>
