<div class="final-page">

    <div class="main-container left-side">
            <div class="container">
                <div class='row'>
                    <div class='column'>
                        <div class="box" id="Source-1">
                                roy 1
                        </div>
                    </div>
                    <div class='column'>
                    </div>
                </div>
                <div class='row'>
                    <div class='column'>
                    </div>
                    <div class='column'>
                        <div class="box middle-box" id="Source-3">
                                aaaaaaaaaa 3
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='column'>
                        <div class="box" id="Target-1">
                                MoshePipelines 1
                        </div>
                    </div>
                    <div class='column'>
                    </div>
                </div>
            </div>

            <div class="middle-container">
                    <div class="box middle-box" id="Source-7">
                            source 7
                    </div>
            </div>

            <div class="container">
                    <div class='row'>
                        <div class='column'>
                            <div class="box" id="Source-2">
                                    roy 2
                            </div>
                        </div>
                        <div class='column'>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='column'>
                        </div>
                        <div class='column'>
                            <div class="box middle-box" id="Target-3">
                                    aaaaaaaaaa 3
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='column'>
                            <div class="box" id="Target-2">
                                    MoshePipelines 2
                            </div>
                        </div>
                        <div class='column'>
                        </div>
                    </div>
                </div>
    </div>

    <div class="main-container-middle">
            <img class="champion-picture" src="../../../assets/images/champion.jpg">
    </div>

    <div class="main-container right-side">
            <div class="container right">
                    <div class='row reverse'>
                        <div class='column'>
                            <div class="box" id="Source-4">
                                    roy 4
                            </div>
                        </div>
                        <div class='column'>
                        </div>
                    </div>
                    <div class='row reverse'>
                        <div class='column'>
                        </div>
                        <div class='column'>
                            <div class="box middle-box" id="Source-6">
                                    aaaaaaaaaa 6
                            </div>
                        </div>
                    </div>
                    <div class='row reverse'>
                        <div class='column'>
                            <div class="box" id="Target-4">
                                    MoshePipelines 4
                            </div>
                        </div>
                        <div class='column'>
                        </div>
                    </div>
                </div>

                <div class="middle-right-container">
                        <div class="box middle-box" id="Target-7">
                                target 7
                        </div>
                </div>
    
                <div class="container right">
                        <div class='row reverse'>
                            <div class='column'>
                                <div class="box" id="Source-5">
                                        roy 5
                                </div>
                            </div>
                            <div class='column'>
                            </div>
                        </div>
                        <div class='row reverse'>
                            <div class='column'>
                            </div>
                            <div class='column'>
                                <div class="box middle-box" id="Target-6">
                                        aaaaaaaaaa 6
                                </div>
                            </div>
                        </div>
                        <div class='row reverse'>
                            <div class='column'>
                                <div class="box" id="Target-5">
                                        MoshePipelines 5
                                </div>
                            </div>
                            <div class='column'>
                            </div>
                        </div>
                    </div>
    </div>

</div>