<div class="final-page">

    <div class="main-container left-side">
            <div class="container">
                <div class='row'>
                    <div class='column'>
                        <div class="box" id="Source-1">
                                Roy Algaly
                        </div>
                    </div>
                    <div class='column'>
                    </div>
                </div>
                <div class='row'>
                    <div class='column'>
                    </div>
                    <div class='column'>
                        <div class="box middle-box" id="Source-3">
                            Roy Algaly
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='column'>
                        <div class="box" id="Target-1">
                            Amin Habash
                        </div>
                    </div>
                    <div class='column'>
                    </div>
                </div>
            </div>

            <div class="middle-container">
                    <div class="box middle-box" id="Source-7">
                            
                    </div>
            </div>

            <div class="container">
                    <div class='row'>
                        <div class='column'>
                            <div class="box" id="Source-2">
                                    Moshe Golan
                            </div>
                        </div>
                        <div class='column'>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='column'>
                        </div>
                        <div class='column'>
                            <div class="box middle-box" id="Target-3">
                                Moshe Golan
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='column'>
                            <div class="box" id="Target-2">
                                    Tom Vaingart
                            </div>
                        </div>
                        <div class='column'>
                        </div>
                    </div>
                </div>
    </div>

    <div class="main-container-middle">
            <img class="champion-picture" src="../../../assets/images/champion.png">
            <div class="box">
                    
            </div>
    </div>

    <div class="main-container right-side">
            <div class="container right">
                    <div class='row reverse'>
                        <div class='column'>
                            <div class="box" id="Source-4">
                                Daniel Finkelstein
                            </div>
                        </div>
                        <div class='column'>
                        </div>
                    </div>
                    <div class='row reverse'>
                        <div class='column'>
                        </div>
                        <div class='column'>
                            <div class="box middle-box" id="Source-6">
                                Daniel Finkelstein
                            </div>
                        </div>
                    </div>
                    <div class='row reverse'>
                        <div class='column'>
                            <div class="box" id="Target-4">
                                Ofir Tziter
                            </div>
                        </div>
                        <div class='column'>
                        </div>
                    </div>
                </div>

                <div class="middle-right-container">
                        <div class="box middle-box" id="Target-7">
                                
                        </div>
                </div>
    
                <div class="container right">
                        <div class='row reverse'>
                            <div class='column'>
                                <div class="box" id="Source-5">
                                        Oded Salem
                                </div>
                            </div>
                            <div class='column'>
                            </div>
                        </div>
                        <div class='row reverse'>
                            <div class='column'>
                            </div>
                            <div class='column'>
                                <div class="box middle-box" id="Target-6">
                                        
                                </div>
                            </div>
                        </div>
                        <div class='row reverse'>
                            <div class='column'>
                                <div class="box" id="Target-5">
                                        Sharon Lin
                                </div>
                            </div>
                            <div class='column'>
                            </div>
                        </div>
                    </div>
    </div>

</div>