.final-match {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.horizontal {
        flex-direction: row;
        width: 100%;
    }
}

.box {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color:#bdb981;
    border: 1px solid #b3ce89;
    text-align:center;
}

